# URL base da DevLinks API
# Para desenvolvimento local com API rodando em localhost:3000
VITE_API_URL=http://localhost:3000

# Para consumir a API publicada no Render
# VITE_API_URL=https://minha-api-lih7.onrender.com
